.action-center {
	font-family: "Fira Code Nerd Font";
	font-size: 1.1em;

	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

	background-color: $darker-background;

	margin: .5em 0em .5em 0em;
    padding: .15em 0em .15em 1em;

}
