.ws {
	font-size: 1.1em;
	font-family: "FiraCode Nerd Font";
	margin: .5em .5em .5em .5em;
	padding: .25em .5em .25em .5em;
	border-radius: 12px;
	// border: 2px solid $lighter-background;
	background-color: $darker-background;

    .workspace-entry {
	    padding: .25em .25em .25em .25em;
	    margin: .5em .5em .5em .5em;
    }
}
