$darker-background: #24273a; //updated to catpuccin
$background-primary: #1e2030; //updated to catpuccin
$background-secondary: #151a1c;
$background-tertiary: #192022;
$lighter-background: #1C2325;

$foreground-primary: #cad3f5; //updated to catpuccin
$foreground-secondary: #9fa0a0;
$foreground-tertiary: #6e7071;

$red: #ee6a70;
$blue: #7ba5dd;
$blue-desaturated: #6791c9;
$magenta: #cb92f2;
$green: #96d6b0;
$yellow: #ffb29b;
$accent: $blue;

$javacafeMagenta: #d7c1ed;
$javacafeBlue: #bac8ef;
$javacafeCyan: #c7e5d6;

// @define-color base   #24273a;
// @define-color mantle #1e2030;
// @define-color crust  #181926;
//
// @define-color text     #cad3f5;
// @define-color subtext0 #a5adcb;
// @define-color subtext1 #b8c0e0;
//
// @define-color surface0 #363a4f;
// @define-color surface1 #494d64;
// @define-color surface2 #5b6078;
//
// @define-color overlay0 #6e738d;
// @define-color overlay1 #8087a2;
// @define-color overlay2 #939ab7;
//
// @define-color blue      #8aadf4;
// @define-color lavender  #b7bdf8;
// @define-color sapphire  #7dc4e4;
// @define-color sky       #91d7e3;
// @define-color teal      #8bd5ca;
// @define-color green     #a6da95;
// @define-color yellow    #eed49f;
// @define-color peach     #f5a97f;
// @define-color maroon    #ee99a0;
// @define-color red       #ed8796;
// @define-color mauve     #c6a0f6;
// @define-color pink      #f5bde6;
// @define-color flamingo  #f0c6c6;
// @define-color rosewater #f4dbd6;
